h1 {
    font-family: 'Lobster', cursive;
    color: #94D7C5;
    font-size: 60px;
}

.disp-desciption{
    color: #704C2D;
    width: 500px;
    background-color: #F89621;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Varela Round', sans-serif;
}

.text-input{
    font-family: 'Varela Round', sans-serif;

}

.dispensary-page-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 1000px;
    background-image: url("../assets/dark_electric.jpg");
    background-size: 100em;
    background-repeat: no-repeat;
}

.review-container {
    width: 500px;
    padding: 10px;
    background-color: #C06038;
    border-radius: 8px;

}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Varela Round', sans-serif;

}
.review-form p {
    color: #F8E6BD;
    font-family: 'Varela Round', sans-serif;

}

.review-index {
    height: 300px;
    overflow-y: auto;
    width: 500px;
    background-color: #F89621;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Varela Round', sans-serif;



}

.review-item {
    margin: 0 24px;
    font-size: 16px;
    line-height: 1.44;
    color: #704C2D;
    font-weight: 375;
    border-bottom: 1px solid #704C2D;
    list-style: none;
}

.review-item p {
    margin-bottom: 0;
}