.dispensary-title {
    font-family: 'Lobster', cursive;
    color: #94D7C5;
    font-size: 80px;
    text-shadow: 4px 4px #C06038;
}

.disp-address{
    color: #704C2D;
    width: 500px;
    text-align: center;
    background-color: var(--blue);
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'Lobster', sans-serif;
    font-size: 18px;
    border: 5px solid var(--brown);
}
.disp-desciption{
    color: var(--beige);
    width: 500px;
    background-color: var(--brownred);
    padding: 20px 15px;
    line-height: 25px;

    border-radius: 8px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    border: 5px solid var(--brown);
}

.dispensary-pagepic{
    /* width: 550px; */
    max-height: 40vh;
    border-radius: 8px;
    border: 5px solid var(--blue)
}

.text-input{
    font-family: 'Varela Round', sans-serif;

}

.dispensary-page-div {
    width: 100%;
    height: 100%;
    margin-top: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    /* height: 2000px; */
    background-image: url("../assets/dark_electric.jpg");
    background-size: 100em;
    background-repeat: no-repeat;
    background-size: cover;
}

.dispensary-left {
    /* width: 35%; */
    margin-left: 200px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

.dispensary-left > * {
    margin: 5px 0;
}
.dispensary-right > * {
    margin: 5px 0;
}

.dispensary-right {
    /* width: 65%; */
    margin-right: 200px;
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.review-container {
    width: 500px;
    padding: 10px;
    background-color: #C06038;
    border-radius: 8px;
    border: 5px solid #704C2D;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;

}
.review-form p {
    color: #F8E6BD;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.review-form svg {
    padding: 5px;
}

.review-form textarea {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    height: 100px;
    background-color: #F8E6BD;
    color: #704C2D;
    border-radius: 8px;
    border: 5px solid #704C2D;
    padding: 20px;
    font-family: 'Varela Round', sans-serif;
}

.review-form textarea:focus {
    border: 5px solid #94D7C5;
    outline: none;
}

.review-form button {
    /* width: 200px; */
    /* height: 50px; */
    background-color: #F8E6BD;
    color: #704C2D;
    margin-top: 10px;
    font-family: 'Lobster', cursive;
    font-size: 20px;

}

.review-form button:hover {
    /* width: 200px;
    height: 50px; */
    background-color: #94D7C5;
    border: 5px solid var(--brown);
    color: #704C2D;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    /* box-shadow: 0px 0px 7px 4px #704C2D(92, 204, 224, 0.253); */

    opacity: 1;

}

.review-form textarea::placeholder {
    color: #704C2D;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

.react-stars:focus {
    outline: none;
}


.review-index {
    overflow-y: auto;
    height: 40vh;
    width: 500px;
    background-color: var(--beige);
    padding: 10px;
    border-radius: 8px;
    font-family: 'Varela Round', sans-serif;
    border: 5px solid #704C2D;
}

.review-index svg {
    padding: 5px;
}

.review-item {
    margin: 0 24px;
    font-size: 16px;
    line-height: 1.44;
    color: #704C2D;
    font-weight: 375;
    border-bottom: 3px solid #704C2D;
    list-style: none;
}

.review-item:last-child{
    border-bottom: none;

}

.review-item header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-item p {
    margin-bottom: 0;
}

.review-username {
    font-family: "Lobster";
    font-size: 25px;
}

.review-date {
    font-family: "Lobster";
    font-size: 18px;
}

.review-errors {
    font-size: 24px;
    font-family: 'Lobster';
    text-align: center;
}