@import "variables";

.dispensary-list {
    grid-column: 3;
    grid-row: 1;
    /* padding-bottom: 20em; */
    /* padding: 5em; */
}

.dispensary-name {
    font-family: 'Lobster', cursive;
    max-width: 300px;
    color: var(--blue);
    font-size: 40px;
    text-shadow: 2px 2px var(--brown);
    margin-top: 5px;
}

.dispensary-list a {
    text-decoration: none;
    color: black;
}

.dispensary-entry-container {
    margin: 1em;
    border: 5px solid var(--brown);
    border-radius: 10px;
    font-size: 22px;
    padding: 2em;
    font-family: 'Lobster', sans-serif;
    color: var(--beige);
    display: flex;
    justify-content: space-between;
    background-color: var(--brownred);
}


.dispensary-entry-container:hover {
    box-shadow: 0 0 10px 1px rgba(53, 50, 50, 0.336);
}

.dispensary-postphoto {
    height: 15vh;
    max-width: 300px;
    border: 5px solid var(--beige);
    border-radius: 5px;
}

.dispensary-avg-rating {
     margin-top: 10px;
     display: flex;
     align-items: center;
 }

 .dispensary-avg-rating > span {
     display: block;
     margin-left: 10px;
 }

 .dispensary-contact {
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     text-align: right;
 }

 .dispensary-contact > div:not(:last-child) {
     margin-bottom: 10px;
 } 