@import "variables";

.form-div {
    /* background-color: rgba(241, 249, 255, 0.295); */
    transition: 0.2;
    padding: 2em;
    /* box-shadow: 0 0 4px 2px rgba(255, 255, 255, .45); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    width: 20em;
    height: 418px;
}

.form-div.signup {
    /* width: 20em; */
}

.form {
    padding: 0.6em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    width: 200px;
}

.form-input {
    /* padding: 0.5em; */
    text-align: center;
    outline: none;
    background-color: var(--orange);
    color: var(--beige);
    opacity: 1;
    border-radius: 8px;
    border: 3px solid #704C2D;
    padding: 6px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}

.form-input:focus{
    border: 3px solid var(--blue);

}

.form-input[type="date"]{
    background-color: var(--yellow);

}


.form-input[type="date"]:focus{
    background-color: var(--yellow);
    color: var(--brown);
}

.form-input[type="password"]{
    background-color: var(--orange);
}

.form-input[type="email"]{
    background-color: var(--brown);
}

.form-input[type="text"]{
    background-color: var(--brownred);
}

.signup-dob-label p{
    font-family: "Lobster";
    font-size: 18px;
    color: var(--brown);
    width: 300px;
}

.signup-button{
    background-color: var(--blue);
    font-size: 20px;
    padding: 8px;
    /* margin-top: 50px; */
    width: 95%;
    margin: 48px auto;
}

.signup-button:hover{
    background-color: var(--yellow);
    border: 5px solid var(--brown);
    color: var(--brown);
}

.signup-button-login{
    background-color: var(--yellow);
    font-size: 20px;
    padding: 8px;
    width: 100%;
    margin: auto;
}

.signup-button-login:hover{
    background-color: var(--blue);
    border: 5px solid var(--brown);
    color: var(--brown);
}

.form-input:focus {
    transition: 0.2s;
}

.form-submit {
    align-items: stretch;
    background-color: var(--blue);
    color: white;
    border-radius: 3px;
    border: none;
    padding: 0.4em;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgba(33, 159, 197, 0.644);
    outline: none;
    transition: 0.2s;
}

.form-span {
    color: white;
    cursor: default;
}

.form-errors {
    font-size: 12px;
    position: absolute;
    font-family: sans-serif;
    top: 60%;
    transition: 0.3;
    color: rgba(70, 1, 1, 0.89);
}

.form-errors.signup {
    top: 80%;
}

.form-errors-li {
    list-style-type: none;
    padding: 2px;
}

.form-otherForm {
    margin-top: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    cursor: pointer;
}

.form-otherForm-login {
    margin-top: 0px;
    width: 250px;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}


.form-span {
    margin-bottom: 5px;
    color: var(--brown);
    font-family: 'Lobster';
    text-align: center;
}

.signup-span{
    font-family: 'Lobster';
    color: var(--blue)
}

/* .form-submit.otherForm:hover {
    background-color: rgba(33, 159, 197, 0.644);
    box-shadow: none;
} */

.signup-dob-label {
    color: var(--brown);
    font-family: 'Lobster';
}