@import "variables";

.home-page {
    /* background-image: url('../assets/curved.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute; */
    position: fixed;
    /* top: 69px; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: var(--orange); */
    background: url("../assets/light_electric.jpg");
    background-size: 100%;
}

.map-list {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    margin-top: 155px;
}

.map-container {
    margin-top: 35px;
    overflow: hidden;
    width: 70%;
    border: 5px solid var(--brown);
    border-radius: 8px;
    margin-right: 10px;
    height: 56vh;
    border-radius: 6px;
}

.map-container div:first-child {
    position: relative !important;
    height: 100% !important;
}

/* .gm-style{
    width: 100%;
}  */
/* 
.map-container > div {
    width: 500px;
    margin-top: 10px;
    overflow: hidden;
} */

.dispensary-list-container {
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
    margin-top: -93px;
}

.search-bar {
    height: 100px;
    position: fixed;
    top: 85px;
    width: 100%;
    z-index: 1000;
}

.search-input {
    display: flex;
    justify-content: space-between;
    background-color: var(--beige);
    border: 5px solid var(--brown);
    /* border-top: none; */
    /* background-clip: padding-box; */
    /* border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; */
    border-radius: 6px;
    padding: 0;
    height: 75%;
    margin-right: 150px;
    margin-left: 29.5vw;

    /* display: flex;
    justify-content: space-between; */
    
}

.search-input input {
    width: 100%;
    color: #704C2D;
    background-color: var(--beige);
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

.search-input svg {
    color: #704C2D;
    cursor: text;
    padding: 25px;
}

.search-input button {
    border-radius: 0;
    border: 0 0 5px  0 solid var(--brown);
    background-color: var(--blue);
    /* border-left: 5px solid var(--brown);
    border-right: 5px solid var(--brown) */
}

.search-input button:hover {
    border-radius: 0;
    border: none;
    background-color: var(--brown);
    color: beige;
    /* border-left: 5px solid var(--brown);
    border-right: 5px solid var(--brown) */
}

.gm-style .gm-style-iw-c {
  /* background-color: var(--brownred);  */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-window > a{
    text-decoration: none;
    font-family: 'Lobster', cursive;
    max-width: 300px;
    color: var(--blue);
    font-size: 30px;
    text-shadow: 2px 2px var(--brown);
    margin-top: 5px;
}
