@import "variables";

.home-page {
    /* background-image: url('../assets/curved.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.home-search-bar {
    width: 70%;
    margin: 40px auto;
    font-size: 24px;
    margin-bottom: 0;
    z-index: 5;
}


.home-map {
    width: 100%;
    position: absolute;

}

.search-input {
    display: flex;
    justify-content: left;
    background-color: white;
    background-clip: padding-box;
    border-radius: 6px;
}

.search-input input {
    width: 100%;
    color: black;
    text-align: left;
    border: none;
    outline: none;
}

.search-input svg {
    color: black;
    padding: 5vh;
    cursor: text;
}

.search-input button {
    background-color: var(--blue);
    height: min-content;
    /* vertical-align: center; */
    border: none;
    cursor: pointer;
}

.map-search-button {
    align-self: center;
    border-radius: unset;
    /* width: 10vw; */
}