@import "variables";


/* .search-bar-container {
    z-index: 3;
    width: 100%;
    position: absolute;
} */

/* .search-bar {
    width: 100%;
    font-size: 24px;
    margin-bottom: 0;
    z-index: 3;
} */

/* .search-input {
    display: flex;
    justify-content: left;
    background-color: white;
    background-clip: padding-box;
    padding: 0 80px;
}

.search-input input {
    width: 100%;
    color: black;
    text-align: left;
    border: none;
}

.search-input svg {
    color: black;
    cursor: text;
}

.search-input button {
    padding: 20px 30px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
} */

/* h1.search-results {
    margin-left: 60%;
} */

/* .map-list {
    display: flex;
    margin-top: 13.5vh;
    grid-column: 1 / 4;
    grid-row: 2; */
    /* display: grid; */
    /* grid-template-rows: repeat(15, 1fr); */
    /* grid-template-rows: 1fr 24px; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* float: right;
} */

.map-div {
    /* position: relative; */
    /* padding-bottom: 50%; */
    /* 4:3 ratio*/
    /* height: 50vh; */
    /* overflow: auto; */
}
/* 
.map-div img {
    box-sizing: border-box;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
} */

/* .marker-img {
    z-index: 4;
} */

/* .dispensary-list-container {
    grid-column: 1;
    grid-row: 1; 
    float: left;
    flex: 1 0 30%;
    margin-right: 5px;
    background-color: white;
    padding: 2vw;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 13.5vh;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, .45);
    position: fixed;
    padding-top: 5vh;
    z-index: 4;
} */


::-webkit-scrollbar {
    display: none;
}

