.navbar-div {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: bisque;
}

.navbar-div-logo {
    /* height: 4em; */
    /* background-image: url('../../assets/Altus\ Empire_Wordmark.png'); */
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.navbar-div-logo > img {
    width: 100px;
    padding: 10px;
}
