@import "variables";

.navbar-div {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: bisque;
}

.navbar-div-logo {
    /* height: 4em; */
    /* background-image: url('../../assets/Altus\ Empire_Wordmark.png'); */
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.navbar-div-logo > img {
    width: 100px;
    padding: 10px;
}

.navbar {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    font-family: 'Lobster';
    font-size: 18px;
    background-color: var(--yellow);
    border-bottom: 5px solid var(--brown);
    color: var(--brown);
    /* box-shadow: 0px 7px 0px 4px var(--brown); */
}

.landing-navbar {
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.auth-navbar {
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    align-items: center;
    width: 400px;
}

.left-nav>a:last-child {
    margin-left: 12px;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    width: 400px;
}

.right-nav a:not(:last-child) {
    margin-right: 12px;
}

.navbar a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--brown);
}

.navbar a:hover {
    color: var(--brownred);
    cursor: pointer;
}

.nav-dropdown {
     top: 64px;
     /* left: 38px; */
     width: 100vw;
     /* height: 100vh; */
     /* max-height: 75vh; */
     position: absolute;
     z-index: 99;
     display: flex;
     flex-direction: column-reverse;
     background-color: var(--yellow);
     border-bottom: 5px solid var(--brown);
     border-left: 5px solid var(--brown);
     border-right: 5px solid var(--brown);
     border-bottom-left-radius: 7px;
     border-bottom-right-radius: 7px;
}

.creator-div {
    position: absolute;
    margin-bottom: 45%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.creator span{
    color: white;
    font-size: 1.5em;
}

.creator span:hover {
    color: var(--yellow);
}

.nav-dropdown > a {
    /* box-sizing: border-box; */
    padding: 5px;
    font-size: 24px;
}


.user-greeting {
    font-size: 25px;
}