@import "variables";


.under-21-div {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Lobster";
    font-size: 30px;
    /* width: 200vw; */
}

.under-21-info {
    /* background-color: aliceblue; */
    padding: 2em;
}

.under-21-div p {
    padding-bottom: 10%;
}

.under-21-notice {
    font-size: 60px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* margin: 0 auto; */
    /* animation:
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite; */
}

.under-21-div {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.under-21-links a {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    width: min-content;
    
}

#policecar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

