@import "variables";


.under-21-div {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Lobster";
    font-size: 30px;
    /* width: 200vw; */
}

.under-21-info {
    /* background-color: aliceblue; */
    padding: 2em;
}

.under-21-div p {
    padding-bottom: 10%;
}

.under-21-notice {
    font-size: 60px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* margin: 0 auto; */
    /* animation:
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite; */
}

.under-21-div {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.under-21-links a {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    width: min-content;
    
}

#policecar {
    position: absolute;
    top: 100px;
    left: 50px;
    /* left: 15px; 
    width: 50px;
    height: 50px; */
    text-decoration: none;
    /* -webkit-animation: police 5s infinite; */
    /* animation: police 5s; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#policecar {
    offset-path: path('M 9 -62 H 1228 V 1057 H 9 Z');
    animation: move 6000ms infinite ease-in-out;
    /* width: 40px;
    height: 40px; */
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
    /* 0% {
        left: 0px;
        top: 0px;
    }

    10% {
        left: 70%;
        top: 10%;
    }

    30% {
        left: 74%;
        top: 30%;
    }

    40% {
        left: 75%;
        top: 40%;
    }

    50% {
        left: 75%;
        top: 60%;
        transform: rotate(360deg)
    }

    75% {
        left: 65%;
        top: 75%;
        transform: rotate(360deg)
    }

    100% {
        left: 40%;
        top: 80%;
        transform: rotate(0deg)
    } */
}