:root {
    --brown: #704C2D;
    --yellow: #F6CB24;
    --orange: #F89621;
    --blue: #94D7C5;
    --beige: #F8E6BD;
    --brownred: #C06038;
}

@-webkit-keyframes FLOATING-MODAL-BG {
    from {
        left: 0;
        top: 0;
    }

    to {
        left: -10000px;
        top: -2000px;
    }
}
/* 
@-webkit-keyframes FLOATING-MODAL-BG {
    from {
        background-position: 5% 5%
    }

    to {
        background-position: 1300% 600%
    }
} */

